    .center {
        text-align: center;
        min-height: 0.3cm !important;
        max-height: 0.3cm !important
    }
    
    strong {
        font-weight: bold;
    }
    
    .slownie {
        margin-top: 0.5cm;
        font-size: 14px;
    }
    .oswiadczenie {
        margin-top: 0.5cm;
        margin-bottom:0.5cm;
        font-style: italic;
        font-size: 14px;
    }
   